
.sidebar{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 20vw;
  height: 100vh;
  padding: 5px 0px 5px 0px;
  border-right: 1px solid rgba(20, 20, 20, 0.5);
  background: lightgrey;
}

.sideBarItem{
  margin-top: 10px;
  padding: 10px;
  font-size: 1.6vw;
  border: 1px solid rgba(20, 20, 20, 0.5);
  cursor: pointer;
}

.window {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 80vw;
  height: 100vw;
}

.recipeDetails{
  position: relative;
  margin-top: 25px;
  background: #FFE37D;
  padding: 5px 5px 15px 15px;
  border-radius: 5px;
  text-align: left;
  border: 1px solid rgba(20, 20, 20, 0.5);
}

.recipeTitle{
  font-size: 40px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(20, 20, 20, 0.5);

}

.ingredient{
  padding-left: 30px;
  padding-top: 10px;
}

.ingredientHeader{
  padding-left: 30px;
  padding-top: 10px;
  font-size: 20px;
}

.editButton{
  margin-left: 20px;
}

.deleteButton{
  margin-left: 20px;
}

